- content_for :title, "Archived posts"

%h2 Archived posts
%h3 &nbsp;
.archives
  - for entry in data.blog.articles    
    %article
      %time{ :datetime => "#{entry.date.strftime('%Y-%m-%dT%H:%M:%S%z')}", :pubdate => "pubdate" }
        = entry.date.strftime('%B %e, %Y')
      %header
        %a{ :href => entry.url }
          = entry.title
          
          