%p.colophon.noprint
  %a{ :href => "https://github.com/middleman/middleman" } Middleman
  %a{ :href => "https://github.com/ericam/320-susy" } 320+Susy
  %a{ :href => "https://github.com/ytspar/ytspar-blog" } Source on Github
  %a.my{ :href => "http://ytspar.tumblr.com" } Also, on Tumblr
  %a.my{ :href => "http://www.linkedin.com/in/yurytsukerman" } For bros, LinkedIn